<a href="https://colab.research.google.com/github/Trupti2601/InfyTQ-Solved-Problems-Python/blob/main/infytq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment on List - Level 1
Problem Statement
Write a Python program to generate the next 15 leap years starting from a given year. Populate the leap years into a list and display the list.

In [ ]:
#lex_auth_012693797166096384149

def find_leap_years(given_year):
    
    list_of_leap_years = []
    while len(list_of_leap_years) < 15:
        if given_year%4==0 and given_year%100!=0 or given_year%400==0:
            list_of_leap_years.append(given_year)
            given_year += 3
        given_year += 1

    return list_of_leap_years

list_of_leap_years=find_leap_years(2000)
print(list_of_leap_years)

Assignment on List - Level 2
Problem Statement
ARS Gems Store sells different varieties of gems to its customers.

Write a Python program to calculate the bill amount to be paid by a customer based on the list of gems and quantity purchased. Any purchase with a total bill amount above Rs.30000 is entitled for 5% discount. If any gem required by the customer is not available in the store, then consider total bill amount to be -1.

Assume that quantity required by the customer for any gem will always be greater than 0.

Perform case-sensitive comparison wherever applicable.

In [ ]:
#lex_auth_012693795044450304151

def calculate_bill_amount(gems_list, price_list, reqd_gems,reqd_quantity):
    bill_amount=0
    #Write your logic here
    return bill_amount

#List of gems available in the store
gems_list=["Emerald","Ivory","Jasper","Ruby","Garnet"]

#Price of gems available in the store. gems_list and price_list have one-to-one correspondence
price_list=[1760,2119,1599,3920,3999]

#List of gems required by the customer
reqd_gems=["Ivory","Emerald","Garnet"]

#Quantity of gems required by the customer. reqd_gems and reqd_quantity have one-to-one correspondence
reqd_quantity=[3,10,12]

bill_amount=calculate_bill_amount(gems_list, price_list, reqd_gems, reqd_quantity)
print(bill_amount)

Problem Statement
Write a python function, create_largest_number(), which accepts a list of numbers and returns the largest number possible by concatenating the list of numbers. 
Note: Assume that all the numbers are two digit numbers.

In [1]:
#lex_auth_01269441913243238467

def create_largest_number(number_list):
    a= []
    for i in number_list:
      a.append(str(i))
    lst = [a[i] for i in range(0,len(a))]
    lst.sort()
    lst.reverse()
    b = ""
    for i in lst:
      b = b + i 
    
    return int(b)
      #remove pass and write your logic here

number_list=[23,45,67]
largest_number=create_largest_number(number_list)
print(largest_number)

674523

Assignment on String - Level 1
Problem Statement
Write a function, check_palindrome() to check whether the given string is a palindrome or not. The function should return true if it is a palindrome else it should return false.

Note: Initialize the string with various values and test your program. Assume that all the letters in the given string are all of the same case. Example: MAN, civic, WOW etc.

In [ ]:
#lex_auth_012693819159732224162

def check_palindrome(word):
  a = word[::-1]
  if a == word:
    return True
  else:
    return False
  #Remove pass and write your logic here

status=check_palindrome("malayalam")
if(status):
    print("word is palindrome")
else:
    print("word is not palindrome")

word is palindrome

In [ ]:
#lex_auth_012693795044450304151

def calculate_bill_amount(gems_list, price_list, reqd_gems,reqd_quantity):
    bill_amount=0
    #Write your logic here
    for i in reqd_gems:
      if i in gems_list:
        a = gems_list.index(i)
        price = price_list[a]
        b = reqd_gems.index(i)
        quantity = reqd_quantity[b]
        bill_amount += price*quantity
      else:
        bill_amount = -1
        break

    if bill_amount > 30000:
      bill_amount = bill_amount*0.5

    return bill_amount
#List of gems available in the store
gems_list=['Amber', 'Aquamarine', 'Opal', 'Topaz']

#Price of gems available in the store. gems_list and price_list have one-to-one correspondence
price_list=[4392, 1342, 8734, 6421]

#List of gems required by the customer
reqd_gems=['Amber', 'Opal', 'Topaz']

#Quantity of gems required by the customer. reqd_gems and reqd_quantity have one-to-one correspondence
reqd_quantity=[2, 1, 3]

bill_amount=calculate_bill_amount(gems_list, price_list, reqd_gems, reqd_quantity)
print(bill_amount)

In [ ]:
#lex_auth_012693802383794176153

def form_triangle(num1,num2,num3):
    #Do not change the messages provided below
    success="Triangle can be formed"
    failure="Triangle can't be formed"
    for i in (num1, num2, num3):
      if (num1+num2 <= num3) or (num2+num3 <= num1) or (num1+num3 <= num2):
        return failure
      else:
        return success
num1=3
num2=1
num3=7
form_triangle(num1, num2, num3)

In [ ]:
#lex_auth_012693711503400960120

def find_product(num1,num2,num3):
    product=0
    if num1 == 7:
      product = num2*num3
    elif num2 == 7:
      product = num3
    elif num3 ==7:
      product = -1
    else:
      product = num1*num2*num3
    return product

#Provide different values for num1, num2, num3 and test your program
product=find_product(7,6,2)
print(product)

In [ ]:
def Even_Odd(l1):
  l2=[]
  l3=[]        
  for i in range(len(l1)):
    if i%2==0:
      l2.append(l1[i])
    else:
      l3.append(l1[i])

  l2.sort()
  l3.sort()
  print("even sorted array is:",l2)
  print("odd sorted array is:",l3)
  print(l2[-2]+l3[-2])
Even_Odd([3,4,1,7,9])

In [ ]:
for number in range(5,0,-1):
    print ("The current number is ",number)

In [ ]:
for number in range(5,0):
    print ("The current number is ",number)

In [ ]:
# Problem Statement
# Write a Python program to find the sum of digits of a given number. E.g. Sum of number 123 will be 6
def find_sum_of_digits(number):
    sum_of_digits=0
    a = str(number)
    for i in a:
      sum_of_digits+=int(i)
    return sum_of_digits

#Provide different values for number and test your program
sum_of_digits=find_sum_of_digits(123)
print("Sum of digits:",sum_of_digits)

In [ ]:
def Find_count(l1,num,diff):
  a = 0
  for i in range(num-diff,num+(diff+1)):
    if i in l1:
      a+=1
  print(a)
Find_count([11,16,15,18,13],13,2)

3

In [ ]:
def Diff_of_sum(n,m):
  a=0
  b=0
  for i in range(1,m+1):
    if i%n != 0:
      a += i
    else:
      b += i
  print(a)
  print(b)
  print(a-b)
Diff_of_sum(4,20)

In [ ]:
arr1 =[1,4,2,6,4,2]
arr1.sort()
print(arr1)

if (arr1[0]+arr1[1])<9:
  print(arr1[0]*arr1[1])

In [ ]:
# def Number_of_carries(num1,num2):
num1 = 765

num = num1%10
# num1 = num1*10+num
print(num)
#   nu= num2%10
#   num2 = num2*10+nu
#   print(num1,num2)
# Number_of_carries(234,567)

In [ ]:

a="456"
b="987"
c=int(a[-1])
print(c)

In [ ]:
def Required_food(r,unit):
  arr = [2,8,3,5,7,1,1,1]
  b = 0
  a = 0
  food_req = r*unit
  for i in arr:
    if a < food_req:
      a+=i
      b+=1
     
    # else:
    #   break
  if a < food_req:
    print(-1)
  else:
    print(b)
    
Required_food(7,2)

In [ ]:
def Calculate(m,n):
  k = 0
  for i in range(m,n):
    if i % 5 == 0 and i % 3 == 0:
      k += i
    else:
      k +=0
  print(k)

Calculate(12,50)

In [ ]:
def Operation_choices(a,b,c):
  d = 0
  if c == 1:
    d = a+b
  elif c == 2:
    d = a-b
  elif c==3:
    d = a*b
  elif c ==4:
    d = a/d
  else:
    d = 0
  print(d)

Operation_choices(16,20,2)

In [ ]:
# str1 = "apple"
# str2 = ""
def Replace_Characters(ch1,ch2):
    str1 = "apple"
    str2 = ""   
    for i in str1:
        if i == ch1:
            str2 += ch2
        elif i == ch2:
            str2 += ch1
        else:
            str2 += i
    print(str2)         

Replace_Characters("a","p")

In [ ]:
str1 ="hjj-dhg"
s=0
j=""
for i in str1:
  if i =='-':
    s += 1
  else:
    j+=i
print(("-"*s)+j)

In [ ]:
#lex_auth_01269441913243238467
def create_largest_number(number_list):
    list = number_list.sort
    for i in list:
      

    #remove pass and write your logic here

number_list=[23,45,67]
largest_number=create_largest_number(number_list)
print(largest_number)

In [ ]:
#lex_auth_012693797166096384149

def find_leap_years(given_year):
  list = []
  for year in range(given_year, given_year+70):
    if(year%400 == 0 or year%100 != 0 and year%4 == 0):
      list.append(year)
      if(len(list)==15):
        break
  list_of_leap_years = list
  
  return list_of_leap_years

list_of_leap_years=find_leap_years(2000)
print(list_of_leap_years)

In [ ]:
def make_amount(rupees_to_make,no_of_five,no_of_one):
    five_needed=0
    one_needed=0
    if (no_of_five*5)+no_of_one >= rupees_to_make:
      five_needed = rupees_to_make//5
      if five_needed >= no_of_five:
        five_needed = no_of_five
      one_needed = rupees_to_make-(5*five_needed)
      if one_needed >= no_of_one:
        one_needed = no_of_one

      
    #Start writing your code here
    #Populate the variables: five_needed and one_needed


    # Use the below given print statements to display the output
    # Also, do not modify them for verification to work
    
      print("No. of Five needed :", five_needed)
      print("No. of One needed  :", one_needed)
    else:
      
      print(-1)


#Provide different values for rupees_to_make,no_of_five,no_of_one and test your program
make_amount(28,8,5)

In [ ]:
#lex_auth_012693782475948032141

def calculate_bill_amount(food_type,quantity_ordered,distance_in_kms):
    bill_amount=0
    if food_type == "V":
      if distance_in_kms < 3:
        distance_in_kms = 0
      elif distance_in_kms > 3 and distance_in_kms<=3:
        distance_in_kms = (distance_in_kms-3)*3
      elif distance_in_kms > 6:
        distance_in_kms = ((distance_in_kms-6)*6)+9
        bill_amount = (120*quantity_ordered)+distance_in_kms
    elif food_type == "N":
      if distance_in_kms < 3:
        distance_in_kms = 0
      elif distance_in_kms > 3 and distance_in_kms<=6:
        distance_in_kms = (distance_in_kms-3)*3
      elif distance_in_kms > 6:
        distance_in_kms = ((distance_in_kms-6)*6)+9
        bill_amount = (150*quantity_ordered)+distance_in_kms
    else:
      if quantity_ordered == 0 or distance_in_kms == 0:
        bill_amount=0

      

    return bill_amount

#Provide different values for food_type,quantity_ordered,distance_in_kms and test your program
bill_amount=calculate_bill_amount("N",2,8)
print(bill_amount)

In [ ]:
def rev():
  for i in range(10,100):
    if i%10 == i

In [ ]:
l=[]
for i in range(10,100):
  reverse = l.append(i)
  if i == i.reverse:
    return True

Problem Statement
Write a python program that displays a message as follows for a given number:

If it is a multiple of three, display "Zip"
If it is a multiple of five, display "Zap".
If it is a multiple of both three and five, display "Zoom".
If it does not satisfy any of the above given conditions, display "Invalid".

In [ ]:
def display(num):
    message=""
    if num%3==0 and num%5==0:
      message="zoom"
    elif num%5==0:
      message="zap"
    elif num%3==0:
      message="zip"
    else:
      message="Invalid"
    #write your logic here
    return message

#Provide different values for num and test your program
message=display(9)
print(message)

Invalid

Problem Statement
The flight ticket rates for a round-trip (Mumbai->Dubai) were as follows: 
Rate per Adult: Rs. 37550.0 
Rate per Child: 1/3rd of the rate per adult 
Service Tax: 7% of the ticket amount (including all passengers) 
As it was a holiday season, the airline also offered 10% discount on the final ticket cost (after inclusion of the service tax).
Find and display the total ticket cost for a group which had adults and children.

In [ ]:
def calculate_total_ticket_cost(no_of_adults, no_of_children):
    cost = 37550.0 
    cost_child = 1/3*(cost)
    ticket_cost = ((cost*no_of_adults) + ((cost_child)*no_of_children))
    total_ticket_cost =(ticket_cost + (ticket_cost*0.07))
    total_ticket_cost = (total_ticket_cost-(total_ticket_cost*0.1))
    return total_ticket_cost

#Provide different values for no_of_adults, no_of_children and test your program
total_ticket_cost=calculate_total_ticket_cost(5,2)
print("Total Ticket Cost:",total_ticket_cost)

Write a Python program that converts temperature in Celsius to Fahrenheit and vice versa. Implement the requirements using functions.
Hint: 0C= (0F-32)*(5/9)

In [ ]:
def Cal_temp(Celsius):
  F = ((Celsius*9)/5)+32
  print("Fahrenheit = ",F)

Cal_temp(95)

In [ ]:
def calculate_sum(data1, data2):
    #All the statements in the block of code must have the same level of indentation
    result_sum=data1+data2
    print(result_sum)

calculate_sum(10,20)

In [ ]:
print("________________________________________________________________________")
print("\t\t\t BREAD BASKET")
print(" Looking for a healthy breakfast, this is the place for you!! ")
print("________________________________________________________________________")
print("Raisin Toast \t\t\t $2.50")
print("French Toast \t\t\t $2.80")
print("Mushroom Toast \t\t\t $3.00")
print("Pancake \t\t\t $4.00")
print("Pancake with Ice-cream \t\t\t\t $7.50")
print("Chef's speciality \t\t\t\t $10.00")

In [ ]:
#Your code goes here
# def Area_of_circle(radius):
#   Area = 3.14*radius*radius
#   print("Area of circle = ", Area)
#   return Area

# radius = int(input("Radius = ")  
# Area_of_circle(radius)  
radius = 2.4
area = 3.14*radius*radius
print("area of circle: ", area)

In [ ]:
radius = 2
a = 6*(2*radius)
print(a)

Practice Problem 1 - Level 1
Problem Statement:
Write a python function to add 'ing' at the end of a given string and return the new string. 
If the given string already ends with 'ing' then add 'ly'.
If the length of the given string is less than 3, leave it unchanged.

In [ ]:
#lex_auth_0127135739583692801137

def add_string(str1):
  #start writing your code here
  # a = len(str1)
  if len(str1) < 3:
    str1 = str1
  else:
    if str1[-3:] == "ing":
      str1 = str1+"ly"
    else:
      str1 = str1+"ing" 
  
  return str1

str1="coming"
print(add_string(str1))

Practice Problem 2 - Level 1
Problem Statement
Write a python function which accepts a string containing a pattern of brackets and returns true if the pattern of brackets is correct. Otherwise it returns false.

The string of brackets is correct if it satisfies the following conditions:
1. Number of opening and closing brackets are equal.
2. Pattern should not start with closing bracket and end with opening bracket.

In [ ]:
def bracket_pattern(input_str):
    # Remove pass and write your code here
  open = 0
  close = 0
  for i in input_str:
    if i == "(":
      open += 1
    else:
      close+= 1   

  if input_str[0] == ")" or input_str[-1] == "(":
    return False
  elif open != close:
    return False
  else:
    return True  

input_str="(())("
print(bracket_pattern(input_str))

Practice Problem:3
Problem Statement:
Write a python function to create and return a new dictionary from the given dictionary(item:price).

Given the following input, create a new dictionary with elements having price more than 200.

prices = {'ACME': 45.23,'AAPL': 612.78, 'IBM': 205.55,'HPQ': 37.20,'FB': 10.75}

In [ ]:
def create_new_dictionary(prices):
    new_dict = {}
    for key,value in prices.items():
      if value >= 200:
         new_dict[key]=value
    
    return new_dict

prices = { 'ACME': 45.23,'AAPL': 612.78,'IBM': 205.55,'HPQ': 37.20,'FB': 10.75}
print(create_new_dictionary(prices))

Practice Problem 4 - Level 1 Problem Statement:
Given a list of numbers, write a python function which returns true if one of the first 4 elements in the list is 9. Otherwise it should return false.
The length of the list can be less than 4 also.

In [ ]:
def find_nine(nums):
  for i in nums[0:4]:
    if i == 9:
      return True
    else:
      i += i
  return False  

nums=[1, 10, 20, 9, 100]
print(find_nine(nums))

Practice Problem 5 - Level 1
Problem Statement
Write a python function which accepts a sentence and finds the number of letters and digits in the sentence.
It should return a list in which the first value should be letter count and second value should be digit count. Ignore the spaces or any other special character in the sentence.

In [ ]:
def count_digits_letters(sentence):
  alphabet = 0
  digit = 0
  for i in sentence:
    if i.isalpha():
      alphabet += 1

    elif i.isdigit():
      digit += 1
  result_list = [alphabet, digit] 
  return result_list

sentence = "Infosys Mysore 570027"
print(count_digits_letters(sentence))

Practice Problem 6 - Level 1
Problem Statement:
Write a python function which accepts a list of numbers and returns true, if 1, 2, 3 appears in sequence in the list.

Otherwise, it should return false.

In [ ]:
def list123(nums):
  for i in range(len(nums)-2):
    if (i==1 and i+1 == 2 and i+2 == 3):
      return True
  return False      

nums=[1,2,3,4,5]
print(list123(nums))

Practice Problem 7 - Level 1
Problem Statement:
Given two numbers, write a python function which returns true if first number is a seed of second number. Otherwise it returns false.

A number X is said to be a seed of number Y, if multiplying X by its each digit equates to Y

For example, 123 is a seed of 738 as 123*1*2*3 = 738.

In [ ]:
def seed_no(number,ref_no):
  num = str(number) 
  a = 1 
  for i in num:

    a = a * int(i)
  if a*number == ref_no:
    return True
  else:
    return False 

number=123
ref_no=738
print(seed_no(number,ref_no))

Practice Problem:8
Problem Statement
You have x no. of 5 rupee coins and y no. of 1 rupee coins. You want to purchase an item for amount z. The shopkeeper wants you to provide exact change. You want to pay using minimum number of coins. How many 5 rupee coins and 1 rupee coins will you use? If exact change is not possible then display -1.

In [ ]:
#lex_auth_012693780491968512136

def make_amount(rupees_to_make,no_of_five,no_of_one):
    five_needed=0
    one_needed=0
    
    if ((no_of_five*5)+no_of_one) >= rupees_to_make:
      five_needed = no_of_five - (rupees_to_make % 5)
      one_needed = rupees_to_make-five_needed*5
      print("No. of Five needed :", five_needed)
      print("No. of One needed  :", one_needed)
    else:
      print(-1)

    


#Provide different values for rupees_to_make,no_of_five,no_of_one and test your program
make_amount(105,20,5)

No. of Five needed : 20
No. of One needed  : 5

In [ ]:
def Required_food(r,unit):
  arr = [2,8,3,5,7,1,1,1]
  b = 0
  a = 0
  food_req = r*unit
  for i in arr:
    if a < food_req:
      a+=i
      b+=1
     
    # else:
    #   break
  if a < food_req:
    print(-1)
  else:
    print(b)
    
Required_food(7,2)

In [ ]:
def Calculate(m,n):
  k = 0
  for i in range(m,n):
    if i % 5 == 0 and i % 3 == 0:
      k += i
    else:
      k +=0
  print(k)

Calculate(12,50)

In [ ]:
def Operation_choices(a,b,c):
  d = 0
  if c == 1:
    d = a+b
  elif c == 2:
    d = a-b
  elif c==3:
    d = a*b
  elif c ==4:
    d = a/d
  else:
    d = 0
  print(d)

Operation_choices(16,20,2)

In [ ]:
# str1 = "apple"
# str2 = ""
def Replace_Characters(ch1,ch2):
    str1 = "apple"
    str2 = ""   
    for i in str1:
        if i == ch1:
            str2 += ch2
        elif i == ch2:
            str2 += ch1
        else:
            str2 += i
    print(str2)         

Replace_Characters("a","p")

In [ ]:
str1 ="hjj-dhg"
s=0
j=""
for i in str1:
  if i =='-':
    s += 1
  else:
    j+=i
print(("-"*s)+j)

In [ ]:
#lex_auth_01269441913243238467
def create_largest_number(number_list):
    list = number_list.sort
    for i in list:
      

    #remove pass and write your logic here

number_list=[23,45,67]
largest_number=create_largest_number(number_list)
print(largest_number)

In [ ]:
#lex_auth_012693797166096384149

def find_leap_years(given_year):
  list = []
  for year in range(given_year, given_year+70):
    if(year%400 == 0 or year%100 != 0 and year%4 == 0):
      list.append(year)
      if(len(list)==15):
        break
  list_of_leap_years = list
  
  return list_of_leap_years

list_of_leap_years=find_leap_years(2000)
print(list_of_leap_years)

In [ ]:
def make_amount(rupees_to_make,no_of_five,no_of_one):
    five_needed=0
    one_needed=0
    if (no_of_five*5)+no_of_one >= rupees_to_make:
      five_needed = rupees_to_make//5
      if five_needed >= no_of_five:
        five_needed = no_of_five
      one_needed = rupees_to_make-(5*five_needed)
      if one_needed >= no_of_one:
        one_needed = no_of_one

      
    #Start writing your code here
    #Populate the variables: five_needed and one_needed


    # Use the below given print statements to display the output
    # Also, do not modify them for verification to work
    
      print("No. of Five needed :", five_needed)
      print("No. of One needed  :", one_needed)
    else:
      
      print(-1)


#Provide different values for rupees_to_make,no_of_five,no_of_one and test your program
make_amount(28,8,5)

In [ ]:
#lex_auth_012693782475948032141

def calculate_bill_amount(food_type,quantity_ordered,distance_in_kms):
    bill_amount=0
    if food_type == "V":
      if distance_in_kms < 3:
        distance_in_kms = 0
      elif distance_in_kms > 3 and distance_in_kms<=3:
        distance_in_kms = (distance_in_kms-3)*3
      elif distance_in_kms > 6:
        distance_in_kms = ((distance_in_kms-6)*6)+9
        bill_amount = (120*quantity_ordered)+distance_in_kms
    elif food_type == "N":
      if distance_in_kms < 3:
        distance_in_kms = 0
      elif distance_in_kms > 3 and distance_in_kms<=6:
        distance_in_kms = (distance_in_kms-3)*3
      elif distance_in_kms > 6:
        distance_in_kms = ((distance_in_kms-6)*6)+9
        bill_amount = (150*quantity_ordered)+distance_in_kms
    else:
      if quantity_ordered == 0 or distance_in_kms == 0:
        bill_amount=0

      

    return bill_amount

#Provide different values for food_type,quantity_ordered,distance_in_kms and test your program
bill_amount=calculate_bill_amount("N",2,8)
print(bill_amount)

In [ ]:
def rev():
  for i in range(10,100):
    if i%10 == i

In [ ]:
l=[]
for i in range(10,100):
  reverse = l.append(i)
  if i == i.reverse:
    return True